[package]
name = "fundere"
version = "0.0.0"
edition = "2021"

[dependencies]
clap = "3.0.14"
tracing = "0.1.30"

[dependencies.serenity]
version = "0.10.10"
features = [
	"collector",
	"voice",
]

[dependencies.songbird]
version = "0.2.1"
features = [
	"gateway",
	"serenity-rustls",
]

[dependencies.sqlx]
version = "0.5.10"
features = [
	"runtime-tokio-rustls",
	"postgres",
	"macros",
	"migrate",
]

[dependencies.tokio]
version = "1.16.1"
features = ["full"]

[dependencies.tokio-console]
version = "0.1.1"
optional = true

[dependencies.tracing-subscriber]
version = "0.3.7"
features = [
	"env-filter",
	"fmt",
]

[target.'cfg(target_env = "musl")'.dependencies]
mimalloc = "0.1.26"

[build-dependencies]
embed-resource = "1.6.1"

[features]
dev-console = ["tokio-console"]
