name: Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-unknown-linux-musl
        rust:
          - stable

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Configure toolchain
        run: |
          rustup toolchain install --profile minimal --no-self-update ${{ matrix.rust }}
          rustup target add ${{ matrix.target }}
          rustup default ${{ matrix.rust }}
          sudo apt install -y musl-tools

      - uses: Swatinem/rust-cache@v2
      - run: cargo test
